@import url("https://fonts.googleapis.com/css?family=VT323&display=swap");

@media (max-width: 1080px) {
  .projectPort {
    width: 100%;
  }
}

.bg-overlay {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-height: 100vh;
  max-width: 100vw;
  background-image: url("./assets/matrix_gif.gif");
  background-size: cover;
  background-position: center;
  opacity: 0.2;
  z-index: -1;
}

.Image {
  max-width: 100%;
  max-height: 30vh; /* adjust the height as needed */
  height: auto;
  width: auto;
}

.light-mode {
  background-color: #ffffff;
  color: #000000;
}

.dark-mode {
  background-color: #0a0c09;
  color: #1bd011;
  font-family: "VT323";
  text-shadow: #15ff00 1px 0 10px, #218103 1px 0 20px, #085202 1px 0 30px;
}

/* 
nonsense for me and erics matrix gif
[column.character1, column.character2] size 2
[] length 3 is size 3 etc etc etc
fade happens, removing lower positions from array, decreasing size of container. 
li character 1
time interval 2 seconds
li charactr 2
etc. 


box that displays list elemnts. those list elements are assigned value from our array. those list element are generate on a loop based on a time interval. that time interval is set based on random x something we havnt decided yet. 
continuiously add to array until container is max screen size. then stop. 

{ 
  {
    all our array bits
  }
  {
    all our array bits 2
  }
  {all our array bits 3}

}
until max width */
